.habit {
    display: flex;
    gap: 3rem;
    font-size: 1.6rem;
    cursor: pointer;

    .name {
        width: 400px;
        height: 1.8rem;
        overflow: hidden;
    }
}

.line-through {
    text-decoration: line-through;
}

.green {
    color: rgb(62, 233, 62);
}